{:kotoba.app/id "cloud.itonami.isic-7490", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib4bheyr7dwhrb4op4kakj6cfqtz23flbicrus5ukldpj7ejcz2z4", :kotoba.app/embed-url "ipfs://bafkreib4bheyr7dwhrb4op4kakj6cfqtz23flbicrus5ukldpj7ejcz2z4", :published {:archive "https://kotobase.net/ipfs/bafkreib4bheyr7dwhrb4op4kakj6cfqtz23flbicrus5ukldpj7ejcz2z4", :size 76614, :put-status 201, :get-status 200, :at "2026-08-15T13:35:45.959Z"}}
